<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>

    <meta charset="UTF-8" />
</head>
<body>
<section class="layout-content" layout:fragment="corpo">

    <div class="page-header">
        <span>Cadastrar nova ficha de treino</span>

        <a class="btn btn-primary btn-md btn-canto" th:href="@{/fichasTreino/listar}" role="button">
            <span class="oi oi-spreadsheet" title="Lista" aria-hidden="true"></span>
            <span>Listar fichas de treino</span>
        </a>
    </div>

    <div class="container" id="cadastro">
        <div th:replace="fragments/alert"></div>
        <form th:action="@{/fichasTreino/salvar}"
              th:object="${fichaTreino}" method="POST" >

            <div class="form-row">

                <div class="form-group col-md-6">
                    <label for="valido">A ficha de treino é válida?</label>
                    <br>
                    <input type="checkbox" id="valido" name="valido"
                           th:field="*{valido}"
                           th:checked="${valido} ? 'checked'">
                </div>

                <div class="form-group col-md-6">
                    <label for="data_inicio">Data Inicio</label>
                    <input type="date" class="form-control" id="data_inicio"
                           th:field="*{dataInicio}" name="data_inicio"/>
                </div>

                <div class="form-group col-md-6">
                    <label for="data_validade">Data de Validade</label>
                    <input type="date" class="form-control" id="data_validade"
                           name="data_validade" th:field="*{validade}" value=""/>
                </div>

                <div class="form-group col-md-6">
                    <label for="aluno">A ficha de treino pertence à qual aluno?</label>
                    <input type="aluno" class="form-control" id="aluno"
                           autofocus="autofocus" name="aluno" value="" th:field="*{aluno}"/>
                </div>

                <div class="form-group col-md-6">
                    <label for="instrutor">A ficha de treino pertence ao instrutor:</label>
                    <input type="text" class="form-control" id="instrutor"
                           autofocus="autofocus" name="instrutor.nome" th:field="*{instrutor}"/>
                </div>

            </div>

            <input type="hidden" id="id" th:field="*{id}"/>
            <button type="submit" class="btn btn-primary btn-sm">Cadastrar</button>

        </form>

    </div>

</section>

</body>
</html>