<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8" />
</head>
<body>
<section class="layout-content" layout:fragment="corpo">

    <div class="page-header">
        <span>Lista de fichas de treino</span>
    </div>

    <a class="btn btn-primary btn-md btn-canto" th:href="@{/fichasTreino/cadastrar}" role="button" >
        <span class="oi oi-plus" title="Cadastro" aria-hidden="true"></span>
        <span>Nova ficha de treino</span>
    </a>

    <div class="container" id="lista_ficha_treino">
        <div th:replace="fragments/alert"></div>
        <div class="table-responsive">
            <table class="table table-striped table-hover table-sm">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Data de Inicio</th>
                    <th>Data de Validade</th>
                    <th>Aluno</th>
                    <th>Instrutor</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="f : ${fichasTreino}">
                    <td th:text="${f.id}"></td>
                    <td th:text="${#temporals.format(f.dataInicio, 'dd/MM/yyyy')}"></td>
                    <td th:text="${#temporals.format(f.validade, 'dd/MM/yyyy')}"></td>
                    <td th:text="${f.aluno}"></td>
                    <td th:instrutor="${f.instrutor}"></td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
    <div th:replace="fragments/modal"></div>
</section>


</body>
</html>