<!DOCTYPE html>
<html>
<head><meta charset="UTF-8"></head>
<body>
	<header th:fragment="cabecalho">
		<nav class="navbar navbar-inverse navbar fixed-top custom" style="background-color: #e86465">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="btn navbar-toggle pull-left">
						<i class="oi oi-menu"></i>
					</button>
					<a class="navbar-brand" style="color: white" th:href="@{/}">Academia PW3</a>
				</div>
			</div>
		</nav>
	</header>
</body>
</html>