<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8">
</head>
<body>
<nav class="sidebar sidebar-open" th:fragment="nav-sidebar">
	<ul class="nav nav-pills">
		<li class="nav-item"><a class="nav-link" href="/"> <i
				class="oi oi-home"></i> <span>Home</span>
		</a></li>
	</ul>

	<ul class="nav nav-pills">
		<li class="nav-item"><span class="nav-link active">Instrutor</span></li>
		<li class="nav-item">
			<a class="nav-link" href="/instrutores/cadastrar">
				<i class="oi oi-plus"></i> <span>Cadastrar</span>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/instrutores/listar">
				<i class="oi oi-spreadsheet"></i><span>Listar</span>
			</a>
		</li>
	</ul>

	<ul class="nav nav-pills">
		<li class="nav-item"><span class="nav-link active" >Treino e Exercícios</span></li>
		<li class="nav-item">
			<a class="nav-link" href="/x/cadastrar">
				<i class="oi oi-plus"></i> <span>Cadastrar</span>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/x/listar">
				<i class="oi oi-spreadsheet"></i><span>Listar</span>
			</a>
		</li>
	</ul>

	<ul class="nav nav-pills">
		<li class="nav-item"><span class="nav-link active">Ficha do Treino</span></li>
		<li class="nav-item">
			<a class="nav-link" href="/fichasTreino/cadastrar">
				<i class="oi oi-plus"></i> <span>Cadastrar</span>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/fichasTreino/listar">
				<i class="oi oi-spreadsheet"></i> <span>Listar</span>
			</a>
		</li>
	</ul>
</nav>

</body>
</html>