<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8">
</head>
<body>
<nav class="sidebar sidebar-open" th:fragment="nav-sidebar">
	<ul class="nav nav-pills">
		<li class="nav-item"><a class="nav-link" href="/"> <i
				class="oi oi-home"></i> <span>Home</span>
		</a></li>
	</ul>

	<ul class="nav nav-pills">
		<li class="nav-item"><span class="nav-link active"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-card-text" viewBox="0 0 16 16">
  <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
  <path d="M3 5.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3 8a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 8zm0 2.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5z"/>
</svg>   Ficha de Treino</span></li>
		<li class="nav-item">
			<a class="nav-link" href="/fichasTreino/cadastrar">
				<i class="oi oi-plus"></i> <span>Cadastrar</span>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/fichasTreino/listar">
				<i class="oi oi-spreadsheet"></i> <span>Listar</span>
			</a>
		</li>
	</ul>


	<ul class="nav nav-pills">
		<li class="nav-item"><span class="nav-link active" ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trophy" viewBox="0 0 16 16">
  <path d="M2.5.5A.5.5 0 0 1 3 0h10a.5.5 0 0 1 .5.5c0 .538-.012 1.05-.034 1.536a3 3 0 1 1-1.133 5.89c-.79 1.865-1.878 2.777-2.833 3.011v2.173l1.425.356c.194.048.377.135.537.255L13.3 15.1a.5.5 0 0 1-.3.9H3a.5.5 0 0 1-.3-.9l1.838-1.379c.16-.12.343-.207.537-.255L6.5 13.11v-2.173c-.955-.234-2.043-1.146-2.833-3.012a3 3 0 1 1-1.132-5.89A33.076 33.076 0 0 1 2.5.5zm.099 2.54a2 2 0 0 0 .72 3.935c-.333-1.05-.588-2.346-.72-3.935zm10.083 3.935a2 2 0 0 0 .72-3.935c-.133 1.59-.388 2.885-.72 3.935zM3.504 1c.007.517.026 1.006.056 1.469.13 2.028.457 3.546.87 4.667C5.294 9.48 6.484 10 7 10a.5.5 0 0 1 .5.5v2.61a1 1 0 0 1-.757.97l-1.426.356a.5.5 0 0 0-.179.085L4.5 15h7l-.638-.479a.501.501 0 0 0-.18-.085l-1.425-.356a1 1 0 0 1-.757-.97V10.5A.5.5 0 0 1 9 10c.516 0 1.706-.52 2.57-2.864.413-1.12.74-2.64.87-4.667.03-.463.049-.952.056-1.469H3.504z"/>
</svg>   Exercício</span></li>
		<li class="nav-item">
			<a class="nav-link" href="/exercicios/cadastrar">
				<i class="oi oi-plus"></i> <span>Cadastrar</span>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/exercicios/listar">
				<i class="oi oi-spreadsheet"></i><span>Listar</span>
			</a>
		</li>
	</ul>

	<ul class="nav nav-pills">
		<li class="nav-item"><span class="nav-link active"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
  <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
</svg>   Instrutor</span></li>
		<li class="nav-item">
			<a class="nav-link" href="/instrutores/cadastrar">
				<i class="oi oi-plus"></i> <span>Cadastrar</span>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/instrutores/listar">
				<i class="oi oi-spreadsheet"></i><span>Listar</span>
			</a>
		</li>
	</ul>

</nav>

</body>
</html>