<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>

    <meta charset="UTF-8" />
</head>
<body>
<section class="layout-content" layout:fragment="corpo">

    <div class="page-header">
        <span>Cadastrar novo exercício</span>

    </div>
    <a class="btn btn-primary btn-md btn-canto" href="/exercicios/listar" role="button">
        <span class="oi oi-spreadsheet" title="Lista" aria-hidden="true"></span>
        <span>Listar exercícios</span>
    </a>

    <div class="container" id="cadastro">
        <div th:replace="fragments/alert"></div>
        <form th:action="@{/exercicios/salvar}"
              th:object="${exercicio}" method="post">

            <div class="form-row">

                <div class="form-group col-md-6">
                    <label for="nome">Nome</label>
                    <input type="text" name="nome" id="nome" class="form-control" th:field="*{nome}">
                </div><br>

                <div class="form-group col-md-6">
                    <label for="nome">Grupo Muscular</label>
                    <select id="uf" class="form-control" th:field="*{grupoMuscular}">
                        <option value="">Selecione...</option>
                        <option th:each="gm : ${T(com.example.academiapw3.domain.GrupoMuscular).values()}" th:value="${gm}" th:text="${gm.musculo}"></option>
                    </select>
                </div><br>

                <div class="form-group col-md-6">
                    <label for="exercicioDescricao">Descrição</label>
                    <input type="text" name="exercicioDescricao" id="exercicioDescricao" class="form-control" th:field="*{descricao}">
                </div><br>

                <input type="hidden" id="id" th:field="*{id}"/>
                <button type="submit" class="btn btn-primary btn-sm">Cadastrar</button>
            </div>


        </form>

    </div>

</section>

</body>
</html>