<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>

    <meta charset="UTF-8" />
</head>
<body>
<section class="layout-content" layout:fragment="corpo">

    <div class="page-header">
        <span>Lista de exercícios</span>
    </div>
    <a class="btn btn-primary btn-md btn-canto" href="/exercicios/cadastrar" role="button">
        <span class="oi oi-plus" title="Cadastro" aria-hidden="true"></span>
        <span>Cadastrar novo exercício</span>
    </a>

    <div class="container" id="lista_exercicio">
        <div th:replace="fragments/alert"></div>
        <div class="table-responsive">
            <table class="table table-striped table-hover table-sm">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Nome</th>
                    <th>Grupo Muscular</th>
                    <th>Descrição</th>
                </tr>
                </thead>
                <tbody>
                <tr  th:each="e : ${exercicios}">
                    <td th:text="${e.id}"></td>
                    <td th:text="${e.nome}"></td>
                    <td th:text="${e.grupoMuscular}"></td> 
                    <td th:text="${e.descricao}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div th:replace="fragments/modal"></div>

</section>

</body>
</html>