<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>

    <meta charset="UTF-8" />
</head>
<body>
<section class="layout-content" layout:fragment="corpo">

    <div class="page-header">
        <span>Lista de instrutores</span>
    </div>
    <a class="btn btn-primary btn-md btn-canto" th:href="@{/instrutores/cadastrar}" role="button">
        <span class="oi oi-plus" title="Cadastro" aria-hidden="true"></span>
        <span>Cadastrar novo instrutor</span>
    </a>

    <div class="container" id="lista_instrutor">
        <div th:replace="fragments/alert"></div>
        <div class="table-responsive">
            <table class="table table-striped table-hover table-sm">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Nome</th>
                    <th>Email</th>
                </tr>
                </thead>
                <tbody>
                <tr  th:each="i : ${instrutores}">
                    <td th:text="${i.id}"></td>
                    <td th:text="${i.nome}"></td>
                    <td th:text="${i.email}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div th:replace="fragments/modal"></div>

</section>

</body>
</html>